# 重采样
将时间序列从一个频率转换到另一个频率：降采样、降采样、采样点变化
1. 重采样，取均值 resample
2.

In [2]:
import pandas as pd
import numpy as np

In [3]:
rng = pd.date_range('2019-10-1', periods= 60)

In [4]:
rng

DatetimeIndex(['2019-10-01', '2019-10-02', '2019-10-03', '2019-10-04',
               '2019-10-05', '2019-10-06', '2019-10-07', '2019-10-08',
               '2019-10-09', '2019-10-10', '2019-10-11', '2019-10-12',
               '2019-10-13', '2019-10-14', '2019-10-15', '2019-10-16',
               '2019-10-17', '2019-10-18', '2019-10-19', '2019-10-20',
               '2019-10-21', '2019-10-22', '2019-10-23', '2019-10-24',
               '2019-10-25', '2019-10-26', '2019-10-27', '2019-10-28',
               '2019-10-29', '2019-10-30', '2019-10-31', '2019-11-01',
               '2019-11-02', '2019-11-03', '2019-11-04', '2019-11-05',
               '2019-11-06', '2019-11-07', '2019-11-08', '2019-11-09',
               '2019-11-10', '2019-11-11', '2019-11-12', '2019-11-13',
               '2019-11-14', '2019-11-15', '2019-11-16', '2019-11-17',
               '2019-11-18', '2019-11-19', '2019-11-20', '2019-11-21',
               '2019-11-22', '2019-11-23', '2019-11-24', '2019-11-25',
               '2019-11-26', '2019-11-27', '2019-11-28', '2019-11-29'],
              dtype='datetime64[ns]', freq='D')

In [5]:
ts = pd.Series(np.random.randn(60), index = rng)

In [6]:
# 按照月份重采样，取平均值
# 重采样是对月份的 重采样 
# 默认的有边界是闭合的
ts.resample('M').mean()

2019-10-31   -0.080920
2019-11-30    0.259634
Freq: M, dtype: float64

# OHLC重采样
开盘 最高价 最低价 收盘

In [7]:
ts.resample('M').ohlc()

                open      high       low     close
2019-10-31  0.151684  3.519211 -2.078251  0.216478
2019-11-30 -0.511401  1.604604 -1.783701  0.506036

In [8]:
ts.groupby(lambda x : x.month).mean()

10   -0.080920
11    0.259634
dtype: float64

In [9]:
ts.groupby(lambda x : x.week).mean()

40    0.151286
41    0.252135
42   -0.430571
43   -0.167511
44   -0.197660
45    0.084060
46    0.441625
47    0.251143
48    0.496124
dtype: float64

 # 升采样与插值

In [13]:
tf = pd.DataFrame(np.random.randn(2,4), index = pd.date_range('2017.10.1', periods= 2, freq = 'w'),columns=list('abcd'))

In [14]:
tf

                   a         b         c         d
2017-10-01  1.588732  1.992469  0.758300 -1.155094
2017-10-08 -0.555504 -2.890751 -0.717526  0.662297

In [17]:
# 升采样 使用这个
tf.resample('D').asfreq()

                   a         b         c         d
2017-10-01  1.588732  1.992469  0.758300 -1.155094
2017-10-02       NaN       NaN       NaN       NaN
2017-10-03       NaN       NaN       NaN       NaN
2017-10-04       NaN       NaN       NaN       NaN
2017-10-05       NaN       NaN       NaN       NaN
2017-10-06       NaN       NaN       NaN       NaN
2017-10-07       NaN       NaN       NaN       NaN
2017-10-08 -0.555504 -2.890751 -0.717526  0.662297

In [19]:
# 以前面的值进行填充
tf.resample('D').pad()

                   a         b         c         d
2017-10-01  1.588732  1.992469  0.758300 -1.155094
2017-10-02  1.588732  1.992469  0.758300 -1.155094
2017-10-03  1.588732  1.992469  0.758300 -1.155094
2017-10-04  1.588732  1.992469  0.758300 -1.155094
2017-10-05  1.588732  1.992469  0.758300 -1.155094
2017-10-06  1.588732  1.992469  0.758300 -1.155094
2017-10-07  1.588732  1.992469  0.758300 -1.155094
2017-10-08 -0.555504 -2.890751 -0.717526  0.662297

In [20]:
tf.resample('D').bfill()

                   a         b         c         d
2017-10-01  1.588732  1.992469  0.758300 -1.155094
2017-10-02 -0.555504 -2.890751 -0.717526  0.662297
2017-10-03 -0.555504 -2.890751 -0.717526  0.662297
2017-10-04 -0.555504 -2.890751 -0.717526  0.662297
2017-10-05 -0.555504 -2.890751 -0.717526  0.662297
2017-10-06 -0.555504 -2.890751 -0.717526  0.662297
2017-10-07 -0.555504 -2.890751 -0.717526  0.662297
2017-10-08 -0.555504 -2.890751 -0.717526  0.662297

# 读取为时间序列

In [25]:
data = pd.read_csv('air1908.csv', index_col = 'Date', parse_dates = True)
# 解析时间序列

In [26]:
data.head()

,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
Date,,,,,,,,,,,,
1908-09-17,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1912-07-12,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
1913-08-06,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...
1913-09-09,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...
1913-10-17,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...

In [27]:
data.Fatalities.resample('A').sum()

Date
1908-12-31       1.0
1909-12-31       0.0
1910-12-31       0.0
1911-12-31       0.0
1912-12-31       5.0
1913-12-31      45.0
1914-12-31       0.0
1915-12-31      40.0
1916-12-31     108.0
1917-12-31     124.0
1918-12-31      65.0
1919-12-31       5.0
1920-12-31      24.0
1921-12-31      68.0
1922-12-31      80.0
1923-12-31      77.0
1924-12-31      18.0
1925-12-31      39.0
1926-12-31      30.0
1927-12-31      54.0
1928-12-31     124.0
1929-12-31     119.0
1930-12-31     138.0
1931-12-31      94.0
1932-12-31      75.0
1933-12-31     192.0
1934-12-31     126.0
1935-12-31     226.0
1936-12-31     227.0
1937-12-31     203.0
               ...
1980-12-31    1827.0
1981-12-31    1230.0
1982-12-31    1787.0
1983-12-31    1611.0
1984-12-31    1228.0
1985-12-31    2670.0
1986-12-31    1471.0
1987-12-31    1713.0
1988-12-31    2034.0
1989-12-31    2293.0
1990-12-31    1312.0
1991-12-31    1839.0
1992-12-31    2122.0
1993-12-31    1568.0
1994-12-31    1876.0
1995-12-31    1593.0
1996-12-31    2386.0
1997-12-31    1673.0
1998-12-31    1544.0
1999-12-31     970.0
2000-12-31    1429.0
2001-12-31    1398.0
2002-12-31    1437.0
2003-12-31    1276.0
2004-12-31     728.0
2005-12-31    1306.0
2006-12-31    1136.0
2007-12-31     931.0
2008-12-31     820.0
2009-12-31     581.0
Freq: A-DEC, Name: Fatalities, Length: 102, dtype: float64